{% extends 'dashboard/layout.html.twig' %}

{% block panel_heading %}Lista de usuarios{% endblock %}
{% block panel_body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for rol in user.roles %}
                                [{{ rol }}]
                            {% endfor %}
                        </td>
                        <td>
                            {% if user.isActive == 1 %}
                                Sí
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}" >
                                <i class="glyphicon glyphicon-edit"></i>modificar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </body>
        </table>
        <a class="btn btn-default" href="{{ path('user_new') }}" >Crear cuenta de usuario</a>
    </div>
{% endblock %}
