{% extends 'dashboard/layout.html.twig' %}
{%  form_theme form_edit 'form_row.html.twig' %}

{% block panel_heading %}Editar cliente{% endblock %}
{% block panel_body %}

    {{ form_start(form_edit) }}
        {{ form_row(form_edit.ci) }}
        {{ form_row(form_edit.name) }}

        <div class="form-group">
            <div>
                <a href="{{ path('client_index') }}" class="btn btn-default">Volver al listado</a>
                {{ form_widget(form_edit.save, {'attr': {'class': 'btn btn-default'}}) }}
                {{ form_widget(form_edit.delete, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
        </div>
    {{ form_end(form_edit) }}

{% endblock %}
