{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block header %}
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gestión de Comandas</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown roles-dropdown">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                                {{ app.user.lastRole }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for role in app.user.roles %}
                                <li><a href="{{ path('security_switch_role', {'role': role}) }}">{{ role }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{{ path('security_logout') }}"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        {{ include('dashboard/sidebar.html.twig') }}

        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default" id="main-panel">
                    {% block main_panel %}
                        <div class="panel-heading">
                            <h4> {% block panel_heading %}{% endblock %} </h4>
                        </div>
                        <div class="panel-body"> {% block panel_body %}{% endblock %} </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
