{% extends 'main/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/menu.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 item-holder">
                <div>
                {% for category in categories %}
                    <div id="{{ category.id }}" class="container-fluid category-container">
                        <div class="row category-name">
                            <h3>{{ category.name }}</h3>
                        </div>
                        <div class="row">
                        {% for item in category.products %}
                            <div class="col-sm-6 menu-item">
                                <div class="fader"></div>
                                <img src="{{ asset('uploads/product/' ~ item.image )}}" alt="{{ item.name }}">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.price }}</p>
                                <p>{{ item.description }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
